In [1]:
# Import pandas library
import pandas as pd
import texthero as th

In [2]:
# Read Dataset
filename = '/home/sokhorn/sokhorn/Rupp/data_mining/DataSet/newsCorpora_with_header.csv'
df = pd.read_csv(filename, encoding="utf8", sep='\t', quotechar=" ", engine='python', usecols=["TITLE", "CATEGORY"])

In [8]:
# Display the first 5 rows of the data
df

                                                    TITLE CATEGORY
0       fed official says weak data caused weather slo...        b
1       fed charles plosser sees high bar change pace ...        b
2       us open stocks fall fed official hints acceler...        b
3       fed risks falling behind curve charles plosser...        b
4             fed plosser nasty weather curbed job growth        b
...                                                   ...      ...
422932  surgeons remove year old rib rebuild damaged t...        m
422933    boy surgery esophagus battery burns hole throat        m
422934  child swallowed battery reconstructive surgery...        m
422935  phoenix boy undergoes surgery repair throat da...        m
422936  phoenix boy undergoes surgery repair throat da...        m

[422937 rows x 2 columns]

In [4]:
# Print out the the class labels
labels = list(set(df["CATEGORY"]))
print('possible categories',labels)

possible categories ['b', 'm', 'e', 't']

In [5]:
# Count number of news articles per category
for l in labels:
    print('number of ',l,' news',len(df.loc[df['CATEGORY'] == l]))

number of  b  news 115967
number of  m  news 45639
number of  e  news 152828
number of  t  news 108503

In [6]:
df.TITLE  = th.clean(df.TITLE)

In [7]:
df

                                                    TITLE CATEGORY
0       fed official says weak data caused weather slo...        b
1       fed charles plosser sees high bar change pace ...        b
2       us open stocks fall fed official hints acceler...        b
3       fed risks falling behind curve charles plosser...        b
4             fed plosser nasty weather curbed job growth        b
...                                                   ...      ...
422932  surgeons remove year old rib rebuild damaged t...        m
422933    boy surgery esophagus battery burns hole throat        m
422934  child swallowed battery reconstructive surgery...        m
422935  phoenix boy undergoes surgery repair throat da...        m
422936  phoenix boy undergoes surgery repair throat da...        m

[422937 rows x 2 columns]