In [12]:
# Import pandas library
import pandas as pd
import texthero as th
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [13]:
# Read Dataset
filename = '/home/sokhorn/sokhorn/Rupp/data_mining/DataSet/newsCorpora_with_header.csv'
df = pd.read_csv(filename, encoding="utf8", sep='\t', quotechar=" ", engine='python', usecols=["TITLE", "CATEGORY"])

In [8]:
# Display the first 5 rows of the data
df

                                                    TITLE CATEGORY
0       Fed official says weak data caused by weather,...        b
1       Fed's Charles Plosser sees high bar for change...        b
2       US open: Stocks fall after Fed official hints ...        b
3       Fed risks falling 'behind the curve', Charles ...        b
4       Fed's Plosser: Nasty Weather Has Curbed Job Gr...        b
...                                                   ...      ...
422932  Surgeons to remove 4-year-old's rib to rebuild...        m
422933  Boy to have surgery on esophagus after battery...        m
422934  Child who swallowed battery to have reconstruc...        m
422935  Phoenix boy undergoes surgery to repair throat...        m
422936  Phoenix boy undergoes surgery to repair throat...        m

[422937 rows x 2 columns]

In [14]:
# Print out the the class labels
labels = list(set(df["CATEGORY"]))
print('possible categories',labels)

possible categories ['e', 'b', 't', 'm']

In [15]:
# Count number of news articles per category
for l in labels:
    print('number of ',l,' news',len(df.loc[df['CATEGORY'] == l]))

number of  e  news 152828
number of  b  news 115967
number of  t  news 108503
number of  m  news 45639

In [16]:
df.TITLE  = th.clean(df.TITLE)

In [17]:
cv = TfidfVectorizer()

In [25]:
X =  cv.fit_transform(df['TITLE'])

In [26]:
X.toarray()

MemoryError: Unable to allocate 162. GiB for an array with shape (422937, 51292) and data type float64

In [19]:
y  =  df['CATEGORY']

In [22]:
x = pd.DataFrame.sparse.from_spmatrix(X)

In [23]:
x

,0,1,2,3,4,5,6,7,8,9,...,51282,51283,51284,51285,51286,51287,51288,51289,51290,51291
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
y1 = pd.get_dummies(df['CATEGORY'])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [21]:
X_train

<338349x51292 sparse matrix of type '<class 'numpy.float64'>'
	with 2308206 stored elements in Compressed Sparse Row format>

In [ ]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)