In [1]:
import pandas as pd
import math as math

In [2]:
df = pd.DataFrame(
    [
        ['Yes', 'Single', 12500, 'No'],
        ['No', 'Married', 10000, 'No'],
        ['No', 'Single', 70000, 'No'],
        ['Yes', 'Married', 1200, 'No'],
        ['No', 'Divorced', 9500, 'Yes'],
        ['No', 'Married', 60000, 'No'],
        ['Yes', 'Divorced', 220000, 'No'],
        ['No', 'Single', 85000, 'Yes'],
        ['No', 'Married', 75000, 'No'],
        ['No', 'Single', 90000, 'Yes'],
     ],
    columns=['Refund', 'Material Status', 'Taxable Income', 'Evade']
)
df

  Refund Material Status  Taxable Income Evade
0    Yes          Single           12500    No
1     No         Married           10000    No
2     No          Single           70000    No
3    Yes         Married            1200    No
4     No        Divorced            9500   Yes
5     No         Married           60000    No
6    Yes        Divorced          220000    No
7     No          Single           85000   Yes
8     No         Married           75000    No
9     No          Single           90000   Yes

In [17]:
df_refound = pd.DataFrame(df.groupby(['Refund', 'Evade'])['Refund'].count())
df_refound

              Refund
Refund Evade
No     No          4
       Yes         3
Yes    No          3

In [13]:
pd.DataFrame(df.groupby(['Evade', 'Material Status'])['Material Status'].count())

                       Material Status
Evade Material Status
No    Divorced                       1
      Married                        4
      Single                         2
Yes   Divorced                       1
      Single                         2

In [ ]:
xi = 120
sv = 2975
sm = 110

x_e = pow(math.e, (-pow((xi - sm), 2) / 2 * sv)    )
pi = pow(2 * math.pi * sv, 1/2 )


x_e

In [ ]:
(-pow((xi - sm), 2) / 2 * sv)

In [ ]:
pow(math.e, -pow((120 - 110), 2)/2 * ( 2975 ))