In [1]:
import pandas as pd
import math as math

In [19]:
df = pd.DataFrame(
    [
        ['Yes', 'Single', 12500, 'No'],
        ['No', 'Married', 10000, 'No'],
        ['No', 'Single', 70000, 'No'],
        ['Yes', 'Married', 1200, 'No'],
        ['No', 'Divorced', 9500, 'Yes'],
        ['No', 'Married', 60000, 'No'],
        ['Yes', 'Divorced', 220000, 'No'],
        ['No', 'Single', 85000, 'Yes'],
        ['No', 'Married', 75000, 'No'],
        ['No', 'Single', 90000, 'Yes'],
     ],
    columns=['Refund', 'Material Status', 'Taxable Income', 'Evade']
)
df

  Refund Material Status  Taxable Income Evade
0    Yes          Single           12500    No
1     No         Married           10000    No
2     No          Single           70000    No
3    Yes         Married            1200    No
4     No        Divorced            9500   Yes
5     No         Married           60000    No
6    Yes        Divorced          220000    No
7     No          Single           85000   Yes
8     No         Married           75000    No
9     No          Single           90000   Yes

In [136]:
def nc(a, b) : 
    return df.loc[a & b]


def p_countine(sample_varience, sample_mean, x):
    tow_pi = 2 * math.pi * sample_varience
    expres =  - pow((x - sample_mean), 2) / 2 * sample_varience
    return pow(math.e, expres) / pow(tow_pi, 1/2)

In [107]:
evade_len_no = len(df.loc[df['Evade'] == 'No'])
evade_len_yes = len(df.loc[df['Evade'] == 'Yes'])

In [99]:
p_rY_e_N = len(nc(df['Refund'] == 'Yes', df['Evade'] == "No")) / evade_len_no
p_rY_e_N

0.42857142857142855

In [100]:
p_rN_N = len(nc(df['Refund'] == 'No', df['Evade'] == "No")) / evade_len_no
p_rN_N

0.5714285714285714

In [109]:
p_rN_N = len(nc(df['Refund'] == 'Yes', df['Evade'] == "Yes")) / evade_len_yes
p_rN_N

0.0

In [110]:
p_rN_Y = len(nc(df['Refund'] == 'No', df['Evade'] == "Yes")) / evade_len_yes
p_rN_Y

1.0

In [114]:
p_ms_Single_no = len(nc(df['Material Status'] == 'Single', df['Evade'] == "No")) /evade_len_no
p_ms_Single_no

0.2857142857142857

In [115]:
p_ms_Divorced_no = len(nc(df['Material Status'] == 'Divorced', df['Evade'] == "No")) /evade_len_no
p_ms_Divorced_no

0.14285714285714285

In [116]:
p_ms_Married_no = len(nc(df['Material Status'] == 'Married', df['Evade'] == "No")) /evade_len_no
p_ms_Married_no

0.5714285714285714

In [ ]:
p_ms_Single_yes = len(nc(df['Material Status'] == 'Single', df['Evade'] == "Yes")) /evade_len_yes
p_ms_Single_yes

In [117]:
p_ms_Single_yes = len(nc(df['Material Status'] == 'Single', df['Evade'] == "Yes")) /evade_len_yes
p_ms_Single_yes

0.6666666666666666

In [118]:
p_ms_Divorced_yes = len(nc(df['Material Status'] == 'Divorced', df['Evade'] == "Yes")) /evade_len_yes
p_ms_Divorced_yes

0.3333333333333333

In [119]:
p_ms_Married_yes = len(nc(df['Material Status'] == 'Married', df['Evade'] == "Yes")) /evade_len_yes
p_ms_Married_yes

0.0

In [3]:
df_refound = pd.DataFrame(df.groupby(['Refund', 'Evade'])['Refund'].count())
df_refound

              Refund
Refund Evade
No     No          4
       Yes         3
Yes    No          3

In [135]:
sample_varience = 2975
sample_mean = 110
x = 120

In [137]:
p_countine(sample_varience, sample_mean, x)

0.0

In [4]:
pd.DataFrame(df.groupby(['Evade', 'Material Status'])['Material Status'].count())

                       Material Status
Evade Material Status
No    Divorced                       1
      Married                        4
      Single                         2
Yes   Divorced                       1
      Single                         2

In [5]:
evade_material =  pd.DataFrame(df.groupby(['Evade', 'Material Status'])['Material Status'].count())

In [ ]:
evade_material.loc[df('Evade')]